body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    text-decoration: underline none;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    margin-right: 50px;
}
nav li{
    margin-right: 50px;
    list-style: none;
    align-items: center;
    

}
.nav-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
   
    
}
.navtitle-r{
    color: #FD6E0A;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.button-style{
    border-radius: 5px;
    background: #FD6E0A;
    width: 80px;
    height: 40px;
    flex-shrink: 0
    color: var(--White-Color, #FFF);
    font-size: 17px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
}
.contenar{
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    font-weight: 177px;

}
.contenar-temporali{
    color: var(--Dark-01, #181818);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: bold;
    }
.paragraph{
    
    color: var(--Dark-03, #757575);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
div ul{

    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 50px;
    padding-left:10px;
    align-items: center;
    padding: 10px;
    
#download-btn{
    background: #FD6E0A;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    color:#FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    margin-right: 5px;
}
#Contact-btn{
    width: 100px;
    height: 40px;
    stroke-width: 1px;
    flex-shrink: 0;
    background-color: #FFF8F3;;
    color: #FD6E0A;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}